Django
channels
channels-redis
asgiref
gunicorn
uvicorn
websockets
daphne
dj-database-url
whitenoise
psycopg2-binary
# Development and admin tools
django-extensions
pyparsing
pydot
# Documentation dependencies for Read The Docs
# Core MkDocs
mkdocs
mkdocs-material

# Extensions
pymdown-extensions
mkdocs-minify-plugin
mkdocs-redirects

# Code documentation
mkdocstrings
mkdocstrings-python

# Additional plugins
mkdocs-git-revision-date-localized-plugin
mkdocs-git-committers-plugin-2
mkdocs-awesome-pages-plugin

# PDF generation support
mkdocs-pdf-export-plugin


